body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
  /* Enlaza la tipografia Montserrat */
  font-family: 'Montserrat', sans-serif;
}
html {
    font-size: 16px;
}
/**CONTENEDOR FLEXBOX**/
.flex-container{
	display: flex;
}
.link {
    font-weight: 700;
    padding: 21px;
    display: inline-block;
    justify-content: flex-end;
    z-index: 3;
    color: white;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
}
.menu a:hover {
  color: #FF00BF;
}

/*link especial*/
#log-in{
	margin-right:10%;
}



/**ESTILO PARA NUESTRO MENU NAV**/
.menu{

	position: fixed;
	top:0;
	left:0;
	width: 100%;
	align-items: center;
	margin-top: 1%;
}
/*la propiedad justify-content con el valor flex-start, logramos que nuestros elementos queden alineados a la izq */
.menu.flex-container{
	justify-content:flex-end;
}
/*para que el logo quede hacia la derecha, ocupamos margin-left:auto; (afecta solo el lado derecho del margin*/
.logo-container{
	margin-right:  auto;
	margin-left:  20px;
}	
/*dimensiones del logo*/
.flex-container .logo {
    width: 70px;
    margin-left:82%;
}

video {
    width: 100%;
    margin-top: -138px;
    /* margin-bottom: 2%; */
     z-index: -9999999; 
     background-size: cover;
     position: center;
     position: absolute;
}

/*registro*/
.registro.flex-container{
justify-content:flex-end;

}
.cuadro {
    background-color: white;
    /* width: 39%; */
    height: 406px;
    margin-top: 9%;
    padding: 1%;
    padding: 3em;
    flex-direction: column;
}


.cuadro h1{
  color: #352384;
  font-weight: 100;
}

.cuadro h1 p{
  color: #352384;
  font-weight: 100;

}
.registro.cuadro  #buttonn{
  flex-direction: row;

}
.registro #botonn a:hover{
    color: #FF00BF;
}

#botonn {
    color: white;
    width: 189px;
    height: 50px;
    padding: 10px;
    background-color: #FF00bf;
    border-radius: 12px;
    /* position: relative; */
    /* top: 82px; */
    font-size: 19px;
    border: transparent;
}

#phone {
    /* position: relative; */
    /* top: 61px; */
    border-right: none;
    border-left: none;
    border-top: none;
    width: 436px;
    border-bottom: 1px solid #75726C;
    /* background-color: #EDE9E2; */
    font-size: 15px;
    padding: 8px;
    /* color: #728094; */
}

/*INFOMARCION 1*/
.informacion{
  background-color: pink;
}

.informacion .text-info1{
  flex-direction: column;
}

/*VIDEO1*/
.video1 , .video2 ,.video3{
  background-color:whitesmoke;
  align-items: center;

}

.video1 .text-video1{
  flex-direction: column;
  margin: 10px;
}






/**ESTILO DE FOOTER**/
/*para que nuestros elementos esten centrados, horizontal y vertical , usamos el valor *center* y ocupamos las propiedades justify-content Y flex-direction*/
.footter{
  background-color: #373b47;
  justify-content: center; 
}
#footer{
	justify-content: center;
	align-items: center;
	flex-direction: column;

	color:whitesmoke;
}




/*navbar dos para el cambio*/

.menu-color {
    width: 100%;
    height: 98px;
    background-color:white;
    color: black;
    position: fixed;
    top: -14px;
    left: 0;
}
.menu-color a{
  color:black;
}
.menu-color a:hover{
 color: #FF00BF;
}



/*

 REGISTRO TELEFONICO
.registro{
  background:#EDE9E2;
  position: relative;
  width:500px;
  height:450px;
  bottom:-196px;
  left:940px;
  margin:0;
  padding:0;
  z
}

.learn , .here{
  color:black;
}
#turn{

  color:#00B2A9;
  position: absolute;
  left: 50px;
  top:50px;
}
#sing {
    position: absolute;
    left: 50px;
    bottom:318px;
    color:#75726C;
}

#telefono{
  position: absolute;
      left: 50px;
    bottom: 260px;
    color:#75726C;

}
#textoInvitar{

  display: block;
  left: 50px;
    bottom: 77px;
    color:black;
    position: absolute;
}

#phone{
  position: relative;
  top: 61px;
  border-right: none;
  border-left: none;
  border-top: none;
  width: 404px;
  border-bottom: 1px solid #75726C;;
  background-color:#EDE9E2; 
  font-size: 15px;
    padding: 8px;

}
#botonn {
    color: white;
    width: 239px;
    padding: 10px;
    background-color: #E54E79;
    border-radius: 12px;
    position: relative;
    top: 82px;
    font-size: 20px;
    border: transparent;
    }
*/

